.student-card-content {
    height: 90%;
{#background-color: #f8f8f8;#} border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
}

.profile-pic {
    border-radius: 50%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    height: 100px;
{#margin-right: 20px;#} width: 100px;
}

.student-info {
    display: flex;
    flex-direction: column;
}
 .student-title {
     color: #2f2f2f;
     font-size: 16px;
     font-weight: bold;
     margin-bottom: 10px;
     text-transform: uppercase;
 }

.student-career {
    color: #777;
    font-size: 14px;
    margin-bottom: 5px;
}

.student-name {
    color: #2f2f2f;
    font-size: 18px;
    margin-bottom: 5px;
}

 .student-id {
     color: #777;
     font-size: 14px;
     margin-bottom: 0px;
 }

.credencial {
    background-color: #F8F8F8; /* Cambiar el color de fondo */
    border: 1px solid #CCC; /* Añadir borde */
    border-radius: 5px; /* Añadir bordes redondeados */
    padding: 10px; /* Añadir un relleno interno */
    text-align: center; /* Centrar el texto */
    font-size: 24px; /* Cambiar el tamaño de fuente */
    font-weight: bold; /* Cambiar la negrita */
}